@model IEnumerable<HealthHub_MVC_CORE.Models.Department>
@{
    ViewData["Title"] = "List Of Deaprtment";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}
<script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>

        <div class="main-panel">
            <div class="content-wrapper">
            <div class="page-header">
                <h3 class="page-title"> List of Department </h3>
            </div>
            <div class="row">
                <div class="col-12 grid-margin stretch-card">
                    <div class="card">
                        <div class="card-body">
                            <h4 class="card-title">List of Department</h4>
                            <a class="btn btn-outline-success btn-fw" asp-area="" asp-action="AddDepartment" asp-controller="Admin">Add Department</a>

                            <asp:Panel CssClass="my-2" ID="Panel1" runat="server"><
                            <table class="table">
                                <thead>
                                    <tr>
                                        <th>Id</th>
                                        <th>Name</th>
                                        <th>Description</th>
                                        <th>Status</th>
                                        <th></th>
                                    </tr>
                                </thead>
                                <tbody>
                                    @foreach (Department department in Model)
                                    {
                                        <tr>
                                            <td>@Html.DisplayFor(modelItem => department.Id)</td>
                                            <td>@Html.DisplayFor(modelItem => department.Name)</td>
                                            <td>@Html.DisplayFor(modelItem => department.Description)</td>
                                            <td>@Html.DisplayFor(modelItem => department.Status)</td>
                                            <td>
                                                <a class="nav-link" asp-action="Updatedepartment" asp-route-id="@department.Id">Update</a>
                                                <a class="remove-ambulance" href="#" data-ambulance-id="@department.Id">Remove</a>
                                                </td>
                                        </tr>
                                    }
                                </tbody>
                            </table></asp:Panel>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        </div>

@section Scripts {
    <script>
        $(document).ready(function () {
            $(".remove-ambulance").click(function (e) {
                e.preventDefault();
                var Id = $(this).data("ambulance-id");
                if (confirm("Are you sure you want to remove this Department?")) {
                    $.ajax({
                        type: "POST",
                        url: "/admin/RemoveDepartment/" + Id,
                        success: function (response) {
                            if (response.success) {
                                alert("Department removed successfully");
                                $(e.target).closest("tr").remove();
                            } else {
                                alert("Failed to remove Department");
                            }
                        },
                        error: function () {
                            alert("Error removing Department");
                        }
                    });
                }
            });
        });
    </script>
}


