@model IEnumerable<HealthHub_MVC_CORE.Models.Medicine>
@{
    ViewData["Title"] = "List of Medicine";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}
<script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>

        <div class="main-panel">
            <div class="content-wrapper">
            <div class="page-header">
                <h3 class="page-title"> List of Medicine </h3>
            </div>
            <div class="row">
                <div class="col-12 grid-margin stretch-card">
                    <div class="card">
                        <div class="card-body">
                            <h4 class="card-title">List of Medicine</h4>
                            <a class="btn btn-outline-success btn-fw" asp-area="" asp-action="AddMedicine" asp-controller="Admin">Add Medicine</a>

                            <asp:Panel CssClass="my-2" ID="Panel1" runat="server">
                            <table class="table">
                                <thead>
                                    <tr>
                                        <th>Id</th>
                                        <th>Name</th>
                                        <th>Description</th>
                                        <th>Quantity</th>
                                        <th>Price</th>
                                        <th></th>
                                    </tr>
                                </thead>
                                <tbody>
                                    @foreach (Medicine medicine in Model)
                                    {
                                        <tr>
                                            <td>@Html.DisplayFor(modelItem => medicine.Id)</td>
                                            <td>@Html.DisplayFor(modelItem => medicine.Name)</td>
                                            <td>@Html.DisplayFor(modelItem => medicine.Description)</td>
                                            <td>@Html.DisplayFor(modelItem => medicine.Quantity)</td>
                                            <td>@Html.DisplayFor(modelItem => medicine.Price)</td>
                                            <td>
                                                <a class="nav-link" asp-action="Updatemedicine" asp-route-id="@medicine.Id">Update</a>
                                                <a class="remove-ambulance" href="#" data-ambulance-id="@medicine.Id">Remove</a>
                                            </td>
                                        </tr>
                                    }
                                </tbody>
                            </table>
                            </asp:Panel>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        </div>

@section Scripts {
    <script>
        $(document).ready(function () {
            $(".remove-ambulance").click(function (e) {
                e.preventDefault();
                var Id = $(this).data("ambulance-id");
                if (confirm("Are you sure you want to remove this Medicine?")) {
                    $.ajax({
                        type: "POST",
                        url: "/admin/RemoveMedicine/" + Id,
                        success: function (response) {
                            if (response.success) {
                                alert("Medicine removed successfully");
                                $(e.target).closest("tr").remove();
                            } else {
                                alert("Failed to remove Medicine");
                            }
                        },
                        error: function () {
                            alert("Error removing Medicine");
                        }
                    });
                }
            });
        });
    </script>
}