@{
    ViewData["Title"] = "List Of  Appointments";
    Layout = "~/Views/Shared/_UserLayout.cshtml";
}
        <div class="main-panel">
            <div class="content-wrapper">
            <div class="page-header">
                <h3 class="page-title"> List of  Appointments </h3>
            </div>
            <div class="row">
                <div class="col-12 grid-margin stretch-card">
                    <div class="card">
                        <div class="card-body">
                            <h4 class="card-title"> Appointments</h4>
                            <a class="btn btn-outline-success btn-fw" asp-area="" asp-action="AddAppoinment" asp-controller="User">Add Appointments</a>

                        </div>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-12 grid-margin stretch-card">
                    <div class="card">
                        <div class="card-body">


                            <asp:Panel CssClass="my-2" ID="Panel1" runat="server">
                            <table class="table">
                                <thead>
                                    <tr>
                                        <th>Id</th>
                                        <th>Patientname</th>
                                        <th>Doctorname</th>
                                        <th>AppointmentDate</th>
                                        <th>Problem</th>
                                        <th>Status</th>
                                        <th></th>
                                    </tr>
                                </thead>
                                <tbody>
                                    @foreach (Appointment appointment in Model)
                                    {
                                        <tr>
                                            <td>@Html.DisplayFor(modelItem => appointment.Id)</td>
                                            <td>@Html.DisplayFor(modelItem => appointment.Patientname)</td>
                                            <td>@Html.DisplayFor(modelItem => appointment.Doctorname)</td>
                                            <td>@Html.DisplayFor(modelItem => appointment.AppointmentDate)</td>
                                            <td>@Html.DisplayFor(modelItem => appointment.Problem)</td>
                                            <td>@Html.DisplayFor(modelItem => appointment.Status)</td>
                                            
                                        </tr>
                                    }
                                </tbody>
                            </table>
                            </asp:Panel>


                        </div>
                    </div>
                </div>
            </div>
    </div>
</div>

